.sidebar p:hover {
    background-color: white;
    color: #242457;
}

.sidebar {
    background-color: #242457;
    color: white;
    padding: 3rem;
}


.flex-main {
    background-color: #F5F5F5;
    width: 100%;
    padding-right: 2.5rem;
}

.image-fit {
    height: 18em;
    width: 25em;
    object-fit: cover;
}

.image-container {
    height: 20.313rem;
    width: 31.813rem;
    background-color: black;
    margin: 2rem;
    color: #fff;
    /* border: solid black 1px; */
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container p {
    text-align: center;
}

.image-desc {
    height: 18.75rem;
    width: 25rem;
    background-color: white;
    margin: 1rem;
    margin-left: 6rem;
    color: black;
    /* border: solid black 1px; */
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-main {
    display: flex;
}

.image-box {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

/* .main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

.active {
    display: block !important;
}

.none {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

