/* BASE STYLES */
* {
    font-family: sans-serif;
    font-size: 20px
}

.navbar {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100vw;
    background-color: #59D9A1;
    padding-left: 30px;
    padding-right: 10px;
}
 
.nav-links {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}
  

a {
    text-decoration: none;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
  
.nav-item:hover {
    background-color: white;
}
  
.nav-item:hover a {
    color: #59D9A1;
}
  
.logo img {
    width: 15%;
    vertical-align: middle;
}

footer img {
    width: 3%;
}

.flex-main {
    background-color: #F5F5F5;
    width: 100%;
    padding-right: 2.5rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #59D9A1;
}

.flex-main {
    display: flex;
}





